/* Utility Code */

/* GRID */
.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr 1fr;
}

/* GAP */

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

/* TECH CARDS WIDTH */
.width-114 {
  width: 114px;
}

.width-105 {
  width: 105px;
}

.width-92 {
  width: 92px;
}

.width-138 {
  width: 138px;
}

.width-106 {
  width: 106px;
}

.width-119 {
  width: 119;
}
